
body,html{
  background-image: url('assets/images/viirtualimages.png');
  height: 100%; 
margin: 0;
padding: 0;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    /* grid-template-rows: 100% */
}


header{
    grid-column: 12 span;
}

  main{
      grid-column: 12 span;
  }
.parallax {
    background-image: url("assets/images/virtualcoins.jpg"); 
    min-height: 840px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallaxHeadLine{
text-align: center;
color: wheat;
font-weight: 600;
font-size: 70px;
  }



 .sectionH1{
     text-align: center;
   font-style: italic;
   color: black;
 }


/* pagesDivs */
#homeDiv{
    width:75%; 
    max-width: 950px; 
    min-width: 700px; 
    margin: 0 auto 0 auto; 
}



#aboutDiv{
  /* width:75%;  */
  max-width: 950px; 
  min-width: 700px; 
  margin: 0 auto 0 auto;
  text-align: left;
  font-size: medium;
    color:black;
  font-weight: bold; 
  background-color: white;
}

/* img about */
img{
    width: 150px;
    height: 100px;
}


/* navebar */

.navbar {
  justify-content: center;
  flex-grow: 0;


}
.navbar-collapse{
  width:75%; 
  max-width: 950px; 
  min-width: 700px;
}

.nav, .form-inline>a {
    padding:  20px;
  }
  
  .btn-link{
    font-weight: bolder;
  }


  /* cards -------------------------------------*/
  .card{
    width: 280px;
    height: auto;
    position: initial;
    display: inline-block;

  }
  
  
  .custom-control {
    float: right;
  }
  
  
  h5, .card-text{
    float: left;
  }
  
  .btn-primary{
    float: left;
    width:auto;
    height:auto;
  }
  .card-subtitle{
    float: left;
  }

  .collapse{
    height: auto;
  }
  
  .card-body-info{
    width: auto;
    height: auto;
    float: left;
    padding: 0;
    margin: 0;
  }

    
  /* The switch - the box around the slider */
  .switch {
    float: right;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* toggle */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
  
  /* spinner */
  .spinner-border{
    width: 300px;
    height: 300px;
  }
  
  
  .modalDiv{
      position: fixed;
  }

  
  .card-body-info {
    width: 200px;
    height: auto;
    display: grid;
   }



          @media only screen and (max-width: 800px) {
 
        main{
            grid-column: 12 span;
        }

        .card{
            width: 230px;
            height: auto;
            position: initial;
            
          }
             
        
          }


  @media only screen and ( max-width: 400px) {
  
    main{
        grid-column: 6 span;
    }

    #homeDiv{
        width:75%; 
        min-width: 50px; 
        margin: 0 auto 0 auto; 
        float: left;
    }

    .parallaxHeadLine{
        text-align: center;
        color: wheat;
        font-weight: 600;
        font-size: 50px;
          }
    

    .navbar-collapse{
      width:auto; 
      max-width: 500px; 
      min-width: 10px;
      
    }
    
    .card{
      width: 250px;
      height: auto;
      position: initial;
      display: block;
    }
       
    #aboutDiv{
        max-width: 950px; 
        min-width: 50px; 
        margin: 0 auto 0 auto;
        text-align: left;
        font-size: medium;
          color:black;
        font-weight: bold; 
        background-color: white;
        font-style: italic;
        width:300px;
        padding:0 20px;
      }
}


        

















        